.box {
    width: 100vh;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 22px;
    font-family: sans-serif;
    color: brown;
}

